home/__pycache__
home/migrations/__pycache__
index/__pycache__
index/__pycache__
notes/__pycache__
notes/migrations/__pycache__
index/__pycache__/urls.cpython-313.pyc
index/__pycache__
todo/__pycache__
