{% extends "todo/layout.html" %}

{% block body %} 
 <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task</button>
  {% if tasks %}
    {% for task in tasks %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
            {% if task.details %}
              <p class="card-text">{{ task.details }}</p>
            {% endif %}
            {% if task.is_done %}
              <form method="post" action="{% url 'todo:toggle' task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success" id="complete">Completed</button>
              </form>
            {% else %}
              <form method="post" action="{% url 'todo:toggle' task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-info" id="not_complete">Click to Complete</button>
              </form>
            {% endif %}
              
        </div>
      </div>

    {% endfor %}
  {% endif %}
  <div class="modal fade" id="addTaskModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form class="w-100">

          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="task-title" class="form-label">Task Name:</label>
              <input type="text" class="form-control" id="task-title" name="title" required>
            </div>
          </div>

          <div class="form-group mb-3 mx-3">
            <label for="task_description" class="form-label">Description:</label>
            <textarea rows="3" class="form-control" id="task_description" name="description"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Task</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
